<!-- SIDEBAR -->
<section id="sidebar" ng-init="ToolBar()">
  <a href="#" class="brand">
    <i class="bx bxs-smile"></i>
    <span class="text">Articles</span>
  </a>
  <ul class="side-menu" style="padding-left: 40px">
    <li
      style="
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
        width: 150px;
      "
    >
      <a
        href="#create-article"
        style="background-color: #1ac396d9; color: aliceblue"
      >
        <i class="bx bxs-cloud-download"></i>
        <span>Add Articles</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu top">
    <li class="active">
      <a href="#">
        <i class="bx bxs-dashboard"></i>
        <span class="text">Home</span>
      </a>
    </li>
    <li>
      <a href="#/articles">
        <i class="bx bxs-shopping-bag-alt"></i>
        <span class="text">Articles</span>
      </a>
    </li>
    <li>
      <a href="#/my-article">
        <i class="bx bxs-doughnut-chart"></i>
        <span class="text">My Articles</span>
      </a>
    </li>
    <li>
      <a href="#/favourite-articles">
        <i class="bx bxs-heart"></i>
        <span class="text">My Favourite Articles</span>
      </a>
    </li>
    <li>
      <a href="#/album">
        <i class="bx bx-list-ul" style="font-weight: bold"></i>
        <span class="text">Album</span>
      </a>
    </li>
    <li>
      <a href="#/history">
        <i class="bx bxs-message-dots"></i>
        <span class="text">History</span>
      </a>
    </li>
    <li>
      <a href="#/article-trash">
        <i class="bx bxs-trash"></i>
        <span class="text">Article Trash</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu top">
    <li>
      <a href="#login">
        <i class="bx bxs-log-in"></i>
        <span class="text">Login</span>
      </a>
    </li>
    <li>
      <a href="#signup">
        <i class="bx bxs-log-in"></i>
        <span class="text">Sign Up</span>
      </a>
    </li>
    <li>
      <a href="#trang-chu" class="logout">
        <i class="bx bxs-log-out-circle"></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- SIDEBAR -->

<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class="bx bx-menu"></i>
    <form>
      <div class="form-input">
        <div
          class="icon"
          style="
            flex-grow: 1;
            padding-top: 6px;
            padding-left: 15px;
            height: 100%;
            border: none;
            background: var(--grey1);
            border-radius: 36px 0 0 36px;
            width: 30px;
            color: black;
          "
        >
          <i class="bx bx-search"></i>
        </div>
        <input
          type="search"
          placeholder="What are you looking for?"
          ng-model="key"
        />
        <button type="submit" class="search-btn">
          <a href="#search-result?key={{key}}">Search</a>
        </button>
      </div>
    </form>
    <input type="checkbox" id="switch-mode" hidden />
    <label for="switch-mode" class="switch-mode"></label>
    <a href="#" class="notification" my-tooltip tooltip-content="Thông báo">
      <i class="bx bxs-bell"></i>
      <span class="num">8</span>
    </a>
    <!-- dropdown -->
    <div class="dropdown" style="padding-left: 5px">
      <a
        href="#"
        class="profile"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img src="/front_end/assets/people.png" />
      </a>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="#/profile" style="color: black"
            ><i
              class="bi bi-person-lines-fill"
              style="color: var(--maumenu); padding-right: 7px"
            >
            </i>
            <span>Profile</span></a
          >
        </li>
        <li>
          <a class="dropdown-item" href="#" style="color: black"
            >Another action</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="#" style="color: black"
            >Something else here</a
          >
        </li>
      </ul>
    </div>
    <!-- <a href="#/users" class="profile">
      <img src="/front_end/assets/people.png" />
    </a> -->
  </nav>
  <!-- NAVBAR -->

  <main ng-view></main>
</section>
<!-- CONTENT -->
