<div class="">
    <h5 class="card-title">Thông tin chi tiết</h5>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Họ và tên: </div>
                  <div class="col-lg-9 col-md-8">{{user.name}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Mã sinh viên: </div>
                  <div class="col-lg-9 col-md-8">{{user.code}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email: </div>
                  <div class="col-lg-9 col-md-8">{{user.email}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Số điện thoại: </div>
                  <div class="col-lg-9 col-md-8">{{user.phoneNumber}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Số lượng bài viết</div>
                  <div class="col-lg-9 col-md-8">{{user.numberOfArticles}}</div>
                </div>

              
</div>