<section class="thong-tin-ca-nhan" style="height: 100%">
  <div class="thong-tin-chitiet">
    <!-- <h5 class="thong-tin-ct">Thông tin chi tiết</h5>
    <hr /> -->
    <div class="thongtinsv">
      <div class="row">
        <div class="col-lg-3 col-md-4 hoho">Họ và tên:</div>
        <div class="col-lg-9 col-md-8 thongtinus">{{user.name}}</div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4 hoho">Mã sinh viên:</div>
        <div class="col-lg-9 col-md-8 thongtinus">{{user.code}}</div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4 hoho">Email:</div>
        <div class="col-lg-9 col-md-8 thongtinus">{{user.email}}</div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4 hoho">Số điện thoại:</div>
        <div class="col-lg-9 col-md-8 thongtinus">{{user.phoneNumber}}</div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4 hoho">Số lượng bài viết</div>
        <div class="col-lg-9 col-md-8 thongtinus">
          {{user.numberOfArticles}}
        </div>
      </div>
    </div>
  </div>
</section>
