<div class="flex">
    <div class="row">
        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa">
            <div class="d-flex flex-start w-100">
                <img class="rounded-circle shadow-1-strong me-3" src="{{detailUser.img}}" alt="avatar"
                    style="width: 5%; height: 5%" />
                <div class="form-outline w-100">
                    <textarea class="form-control" id="textAreaExample" rows="4" style="background: #fff"
                        placeholder="Message" ng-model="comment.content"></textarea>
                </div>
            </div>
            <div class="float-end mt-2 pt-1">
                <button type="button" class="btn btn-primary btn-sm" ng-click="createComment()">
                    Post comment
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm">
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="" ng-repeat="comment in comments">
            <div data-commentid="Rk74an7MJeO" class="comment-thread reply mt-3 ms-3">
                <header class="d-flex mb-05">
                    <a  class="me-3"><img data-v-f09f4d56="" ng-src="{{comment.userImg}}"
                            alt="Avatar" class="avatar avatar--md mx-05" /></a>
                    <div>
                        <a  class=""><span class="text-bold post-author__name">
                                {{comment.userName}}</span></a>
                        <div class="comment-meta word-break">
                            <span class="text-muted">{{comment.createdDate | date:"h:mma 'at' dd/dMM/yyyy"}}</span>
                        </div>
                    </div>
                </header>
                <div class="mb-05 mt-2">
                    <div class="md-contents" style="font-size: 18px; line-height: 1.75">
                        <p>{{comment.content}}</p>
                    </div>
                    <!---->
                </div>
                <footer class="d-flex text-muted">
                    <a class="mr-05 cursor-pointer me-3" data-tippy=""
                        ng-click="replyComment($index, comment.id, comment.userName)"
                        data-original-title="Trả lời"><span>Trả lời</span></a>
                    <div data-v-e37282e2="" class="relative mr-05 cursor-pointer">
                        <a data-v-e37282e2="" href="https://viblo.asia/c/Rk74an7MJeO"
                            class="icon-share link plain text-muted" data-tippy=""
                            data-original-title="Chia sẻ đường dẫn của bình luận này"><span data-v-e37282e2="">Chia
                                sẻ</span></a>
                        <div data-v-e37282e2="" class="share-tip" style="display: none">
                            <label data-v-e37282e2="" class="tip-label">Chia sẻ đường dẫn của bình luận này</label>
                            <div data-v-e37282e2="" class="d-flex share-input-group">
                                <input data-v-e37282e2="" data-sharing-id="comment-Rk74an7MJeO" type="text"
                                    readonly="readonly" class="d-block share-link" />
                                <span data-v-e37282e2="" data-clipboard-text="https://viblo.asia/c/Rk74an7MJeO"
                                    data-clipboard-target="[data-sharing-id='comment-Rk74an7MJeO']" area-label="Copied!"
                                    area-tooltip-hidden="true" title="Sao chép URL"
                                    class="share-link-addon viblo-tooltip"><i data-v-e37282e2=""
                                        class="fa fa-copy"></i></span>
                            </div>
                            <div data-v-235dd1c0="" data-v-e37282e2=""
                                class="social-sharing social-sharing-icons social-sharing--vertical social-sharing--small">
                                <a data-v-e37282e2="" data-v-235dd1c0="" rel="noopener"
                                    class="link social-btn-circle facebook-btn"><i data-v-e37282e2="" data-v-235dd1c0=""
                                        aria-hidden="true" class="fa fa-facebook"></i></a>
                                <a data-v-e37282e2="" data-v-235dd1c0="" rel="noopener"
                                    class="link social-btn-circle twitter-btn"><i data-v-e37282e2="" data-v-235dd1c0=""
                                        aria-hidden="true" class="fa fa-twitter"></i></a>
                                <a data-v-e37282e2="" data-v-235dd1c0="" rel="noopener"
                                    class="link social-btn-circle google-btn"><i data-v-e37282e2="" data-v-235dd1c0=""
                                        aria-hidden="true" class="fa fa-google-plus"></i></a>
                            </div>
                            <div data-v-e37282e2="" class="d-flex" style="justify-content: flex-end">
                                <span data-v-e37282e2="" class="close-share-tip">
                                    Đóng
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="comment-menu ml-05 el-dropdown">
                        <span class="cursor-pointer el-dropdown-selfdefine" data-tippy=""
                            data-original-title="Hiển thị các hành động" aria-haspopup="list"
                            aria-controls="dropdown-menu-7450" role="button" tabindex="0"><i
                                class="el-icon-more-outline v-menu-icon--small"></i></span>
                        <!---->
                        <ul class="el-dropdown-menu el-popper" id="dropdown-menu-7450" style="display: none">
                            <!---->
                            <li tabindex="-1" class="el-dropdown-menu__item">
                                <!----><i aria-hidden="true" class="fa fa-flag-o pr-0 mr-05"></i>
                                Báo cáo
                            </li>
                            <!---->
                            <!---->
                            <!---->
                        </ul>
                    </div>
                </footer>
                <!---->
                <!---->
                <!---->
                <!---->
            </div>
            <!-- begin reply  -->
            <div class="row">
                <div id="{{comment.id}}" class="fromReplyComment" style="display: none">
                    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa">
                        <div class="d-flex flex-start w-100">
                            <img class="rounded-circle shadow-1-strong me-3" src="{{detailUser.img}}" alt="avatar"
                                style="width: 5%; height: 5%" />
                            <div class="form-outline w-100">
                                <input type="hidden" ng-model="replyCommentUser.reply">
                                <textarea class="form-control" id="textAreaExample" rows="4" style="background: #fff;"
                                    placeholder="Message" ng-model="replyCommentUser.content "></textarea>
                            </div>
                        </div>
                        <div class="float-end mt-2 pt-1">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="CreateReplyComment(comment.id)">
                                Post comment
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-sm"
                                ng-click="closeForm(comment.id)">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end reply  -->
            <div ng-if="comment.children && comment.children.length" ng-include="'reply.html'"
                style="padding-left: 5%;"></div>
        </div>
    </div>

    <script type="text/ng-template" id="reply.html">
      <ul style="padding: 0px;">
        <li ng-repeat="comment in comment.children">
            <div
              data-commentid="Rk74an7MJeO"
              class="comment-thread reply mt-3 ms-3"
            >
              <header class="d-flex mb-05">
                <a  class="me-3"
                  ><img
                    data-v-f09f4d56=""
                    ng-src="{{comment.userImg}}"
                    alt="Avatar"
                    class="avatar avatar--md mx-05"
                /></a>
                <div>
                  <a  class=""
                    ><span class="text-bold post-author__name"
                      > {{comment.userName}}</span
                    ></a
                  >
                  <div class="comment-meta word-break">
                    <span class="text-muted">{{comment.createdDate | date:"h:mma 'at' dd/dMM/yyyy"}}</span>
                  </div>
                </div>
              </header>
              <div class="mb-05 mt-2">
                <div
                  class="md-contents"
                  style="font-size: 18px; line-height: 1.75"
                >
                  <p>{{comment.content}}</p>
                </div>
                <!---->
              </div>
              <footer class="d-flex text-muted">
                <a
                  class="mr-05 cursor-pointer me-3"
                  data-tippy=""
                  ng-click="replyComment($index, comment.id, comment.userName)"
                  data-original-title="Trả lời"
                  ><span>Trả lời</span></a
                >
                <div data-v-e37282e2="" class="relative mr-05 cursor-pointer">
                  <a
                    data-v-e37282e2=""
                    href="https://viblo.asia/c/Rk74an7MJeO"
                    class="icon-share link plain text-muted"
                    data-tippy=""
                    data-original-title="Chia sẻ đường dẫn của bình luận này"
                    ><span data-v-e37282e2="">Chia sẻ</span></a
                  >
                  <div
                    data-v-e37282e2=""
                    class="share-tip"
                    style="display: none"
                  >
                    <label data-v-e37282e2="" class="tip-label"
                      >Chia sẻ đường dẫn của bình luận này</label
                    >
                    <div data-v-e37282e2="" class="d-flex share-input-group">
                      <input
                        data-v-e37282e2=""
                        data-sharing-id="comment-Rk74an7MJeO"
                        type="text"
                        readonly="readonly"
                        class="d-block share-link"
                      />
                      <span
                        data-v-e37282e2=""
                        data-clipboard-text="https://viblo.asia/c/Rk74an7MJeO"
                        data-clipboard-target="[data-sharing-id='comment-Rk74an7MJeO']"
                        area-label="Copied!"
                        area-tooltip-hidden="true"
                        title="Sao chép URL"
                        class="share-link-addon viblo-tooltip"
                        ><i data-v-e37282e2="" class="fa fa-copy"></i
                      ></span>
                    </div>
                    <div
                      data-v-235dd1c0=""
                      data-v-e37282e2=""
                      class="social-sharing social-sharing-icons social-sharing--vertical social-sharing--small"
                    >
                      <a
                        data-v-e37282e2=""
                        data-v-235dd1c0=""
                        rel="noopener"
                        class="link social-btn-circle facebook-btn"
                        ><i
                          data-v-e37282e2=""
                          data-v-235dd1c0=""
                          aria-hidden="true"
                          class="fa fa-facebook"
                        ></i
                      ></a>
                      <a
                        data-v-e37282e2=""
                        data-v-235dd1c0=""
                        rel="noopener"
                        class="link social-btn-circle twitter-btn"
                        ><i
                          data-v-e37282e2=""
                          data-v-235dd1c0=""
                          aria-hidden="true"
                          class="fa fa-twitter"
                        ></i
                      ></a>
                      <a
                        data-v-e37282e2=""
                        data-v-235dd1c0=""
                        rel="noopener"
                        class="link social-btn-circle google-btn"
                        ><i
                          data-v-e37282e2=""
                          data-v-235dd1c0=""
                          aria-hidden="true"
                          class="fa fa-google-plus"
                        ></i
                      ></a>
                    </div>
                    <div
                      data-v-e37282e2=""
                      class="d-flex"
                      style="justify-content: flex-end"
                    >
                      <span data-v-e37282e2="" class="close-share-tip">
                        Đóng
                      </span>
                    </div>
                  </div>
                </div>
                <div class="comment-menu ml-05 el-dropdown">
                  <span
                    class="cursor-pointer el-dropdown-selfdefine"
                    data-tippy=""
                    data-original-title="Hiển thị các hành động"
                    aria-haspopup="list"
                    aria-controls="dropdown-menu-7450"
                    role="button"
                    tabindex="0"
                    ><i class="el-icon-more-outline v-menu-icon--small"></i
                  ></span>
                  <!---->
                  <ul
                    class="el-dropdown-menu el-popper"
                    id="dropdown-menu-7450"
                    style="display: none"
                  >
                    <!---->
                    <li tabindex="-1" class="el-dropdown-menu__item">
                      <!----><i
                        aria-hidden="true"
                        class="fa fa-flag-o pr-0 mr-05"
                      ></i>
                      Báo cáo
                    </li>
                    <!---->
                    <!---->
                    <!---->
                  </ul>
                </div>
              </footer>
              <!---->
              <!---->
              <!---->
            </div>
            <!----> 
            <!-- begin reply  -->
          <div class="row">
            <div  id="{{comment.id}}" class="fromReplyComment" style="display:none;">
              <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                <div class="d-flex flex-start w-100">
                  <img class="rounded-circle shadow-1-strong me-3"
                       src="{{detailUser.img}}" alt="avatar"
                       style="width: 5%;height: 5%;" />
                  <div class="form-outline w-100">
                    <input type="hidden" ng-model="replyCommentUser.reply">
                    <textarea class="form-control" id="textAreaExample" rows="4" style="background: #fff;"
                              placeholder="Message" ng-model="replyCommentUser.content "></textarea>
                  </div>
                </div>
                <div class="float-end mt-2 pt-1">
                  <button type="button" class="btn btn-primary btn-sm" ng-click="CreateReplyComment(comment.id)">Post comment</button>
                  <button type="button" class="btn btn-outline-primary btn-sm"
                          ng-click="closeForm(comment.id)">Cancel</button>
                </div>
              </div>
            </div>
        </div>
          <!-- end reply  -->
          <div ng-if="comment.children && comment.children.length" ng-include="'reply.html'"></div>
        </li>
      </ul>
    </script>
</div>