<div class="container-fluid">
  <!-- <div class="menu-detail-myarrticle">
    <a
      type="button"
      href="#my-article/update-article/{{myArticleById.id}}"
      class="btn btn-outline-info"
      >Sửa</a
    >
    <a
      type="button"
      href="#my-article"
      ng-click="deleteMyArticle()"
      class="btn btn-outline-danger"
      >Xóa</a
    >
    <div class="dot"></div>
  </div> -->
  <div class="cham col-1">
    <i
      class="bi bi-three-dots-vertical"
      style="margin: 0px; width: 12%"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    ></i>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      ></div>
      <li>
        <a
          class="dropdown-item"
          type="button"
          href="#my-article/update-article/{{myArticleById.id}}"
          >Sửa Bài Viết</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          type="button"
          href="#my-article"
          ng-click="deleteMyArticle()"
          >Xóa Bài Viết</a
        >
      </li>
    </ul>
  </div>
  <section class="bvchitiet">
    <div class="row">
      <div class="col-lg-12">
        <article
          data-test="article-preview"
          class="sc-kHOZwM sc-hOGkXu dPKgXc fiTxcb"
        >
          <div data-test="container" class="sc-bdvvtL cCOiXd">
            <div class="sc-bdvvtL jbSNqA sc-kHOZwM cjDrZK">
              <div class="sc-bdvvtL iHLSCF">
                <a
                  data-test="heading-image-link"
                  href="/blog/content-planning/"
                  class="sc-cZMNgc iNdGjO"
                  ><img
                    data-test="image"
                    height="250"
                    width="310"
                    style="height: 200px"
                    src="../../../articles-project/src/main/resources/templates/articles/{{myArticleById.id}}/image.png"
                    alt="content planning"
                /></a>
              </div>
              <div class="sc-bdvvtL FmHLX">
                <h2 data-test="heading-text" class="sc-bBHxTw hsjjsR">
                  <a
                    data-test="heading-link"
                    href="/blog/content-planning/"
                  ></a>
                  {{myArticleById.title}}
                  <!-- <a data-test="heading-link" href="/blog/content-planning/">
                    {{myArticleById.title}}
                  </a> -->
                </h2>

                <div class="sc-bdvvtL ftOnze">
                  <span data-test="date">
                    {{myArticleById.browseDate | date:'dd/MM/yyyy'}} </span
                  ><br />
                  <strong data-test="category" class="sc-dtMgUX iEGeoe"
                    ><a
                      data-test="category-link"
                      target="_blank"
                      href="/blog/category/content-creation/"
                      >{{myArticleById.hashtags}}</a
                    ></strong
                  >
                  <!-- {{myArticleById.browseDate | date:'dd/MM/yyyy'}} </span
                  ><br />
                  <strong data-test="category" class="sc-dtMgUX iEGeoe"
                    ><a
                      data-test="category-link"
                      target="_blank"
                      href="/blog/category/content-creation/"
                      >{{myArticleById.hashtags}}</a
                    ></strong
                  > -->
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section class="chitiet">
    <div class="row gy-4 pt-5">
      <div class="col" data-aos="fade-up">
        <div
          data-parse="true"
          class="sc-bdvvtL ikHgNc sc-fydGpi jwdqZU"
          style="background-color: white; padding: 40px"
        >
          <div
            ng-include="'../../../articles-project/src/main/resources/templates/articles/' + myArticleById.id + '/toi-thanh-cong-roi.html'"
          ></div>
          <!-- <div
            ng-include="'../../../articles-project/src/main/resources/templates/articles/' + myArticleById.id + '/toi-thanh-cong-roi.html'"> </div>
        </div> -->
        </div>
      </div>
    </div>
  </section>

  <div ng-include="'./pages/user/articles/comment.html'"></div>
</div>
