<section
  style="background-color: rgb(253, 253, 253); border-radius: 20px"
  ng-init="Summernote()"
>
  <div class="container-fluid" ng-init="getHtml()">
    <div class="row">
      <div class="col-10">
        <form>
          <div class="mb-3" style="margin-top: 30px">
            <input
              type="text"
              class="form-control"
              placeholder="Title.."
              ng-model="title"
            />
          </div>
          <div class="mb-3">
            <input
              type="hidden"
              ui-select2="select2Options"
              ng-model="list_of_string"
              style="
                border-bottom: solid 2px var(--mau1);
                border-radius: 0px;
                background-color: rgb(255, 255, 255);
                width: 100%;
              "
              placeholder="Hashtag.."
            />
          </div>
          <div id="summernote"></div>
        </form>
      </div>
      <div
        class="col-2"
        style="
          background-color: rgb(252, 252, 252);
          border-left: 2px double rgb(177, 177, 178);
        "
      >
        <div class="row">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="margin-top: 30px; background-color: #fcfcfc; color: black"
            >
              <i class="bi bi-eye"></i>
              Preview
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">
                  <i class="bi bi-eye" style="padding-right: 10px"></i>Post
                  preview</a
                >
              </li>
              <li>
                <button class="dropdown-item" ng-click="updateMyArticle($event)"
                  ><i
                    class="bi bi-cloud-download"
                    style="padding-right: 10px"
                  ></i
                  >Save</button
                >
              </li>
            </ul>
          </div>
          <div style="margin-top: 20px">
            <button
              ng-click="saveHTML($event)"
              type="button"
              class="btn btn-primary"
              style="background-color: #fb3c75c3; border: solid 1px white"
            >
              <i class="bi bi-caret-right-fill"></i>Publish
            </button>
          </div>

          <div class="cate" style="margin-top: 20px; color: black">
            <li class="nav-item" ng-class="{ 'menu-open': isMenuOpen }">
              <a href="" class="nav-link active" ng-click="toggleMenu()">
                CATEGORY
              </a>
              <hr style="margin-top: 5px; margin-bottom: 5px" />
              <ul class="nav nav-treeview" ng-show="isMenuOpen">
                <select class="form-select" ng-model="category">
                  <option ng-repeat="cate in listCategory" value="{{cate.id}}">
                    {{cate.name}}
                  </option>
                </select>
              </ul>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
