<!-- <h1 ng-show="album.numberOfArticle = 0">LÀM GÌ CÓ BÀI VIẾT NÀO MÀ TÌM</h1> -->
<section class="album-det" ng-show="album.numberOfArticle > 0">
  <div class="container">
    <section class="ben-trai">
      <div class="row">
        <div
          class="col-md-4 col order-first backtrai"
          style="background-image: url(../../../articles-project/src/main/resources/templates/articles/{{idArticle}}/image.png)"
        >
          <div class="noidungback">
            <img
              src="../../../articles-project/src/main/resources/templates/articles/{{idArticle}}/image.png"
              alt=""
            />
            <div class="namealbum">
              {{album.title}}
              <span><i class="bi bi-pen"></i></span>
            </div>
            <div class="nameuser">{{album.userName}}</div>
            <div class="nameuser">
              Status: {{album.status == true ? "Public" : "Private"}}
            </div>
            <div class="nameuser">
              <p>{{album.numberOfArticle}} Article</p>
            </div>
            <hr style="border-top: 4px #eee solid" />
            <div class="share">
              <button type="button">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
            </div>
          </div>
          <div class="backtrai__background"></div>
        </div>
        <div class="col-12 col-sm-8 benphai" style="height: auto">
          <div class="row" style="height: 40px; padding-left: 10px">
            <i class="bi bi-filter-right"><span> Sort</span></i>
          </div>
          <section class="bai-viet" ng-repeat="ar in listArticle">
            <div class="row">
              <div class="col-1">
                <i class="bi bi-list"></i>
              </div>
              <div class="col-3" align="top">
                <img
                  src="../../../articles-project/src/main/resources/templates/articles/{{ar.id}}/image.png"
                  alt=""
                />
              </div>
              <div class="col-8">{{ar.title}}</div>
              <div class="cham">
                <i
                  class="bi bi-three-dots-vertical"
                  style="width: 12%"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                ></i>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <a
                      class="dropdown-item"
                      ng-click="deleteArticleInAlbum(ar.id, album.id)"
                      >Delete Article</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>
