<div class="container-fluid">
  <div class="row">
    <h5 class="text-dark">Lượt Yêu Thích</h5>
    <table class="table" style="background-color: #F9F9F9; border-radius: 15px">
      <tbody>
        <tr style="height: 40px">
          <th scope="row">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="defaultCheck1"
              />
              <label> Tất Cả </label>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
    <div class="" ng-repeat="(key, values) in listArticleFavorite">
      <table class="table" style="background-color: #F9F9F9; border-radius: 15px">
        <thead><tr>
          <th scope="row">
            <label> {{key * 24 * 60 * 60 * 1000 | date:'dd/MM/yyyy'}}</label>
          </th>
        </tr></thead>
        <tbody>
          <tr ng-repeat="value in values">
            <td>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="{{value.id}}"
                  id="defaultCheck1"
                />
  
                <div class="card__avatars cluster color-mid-text ps-4">
                  <a class="avatar" href="#/articles/{{value.articleId}}"
                    ><img
                      class="img"
                      alt="Rachel Andrew"
                      sizes="(min-width: 40px) 40px, calc(100vw - 48px)"
                      src="{{value.userImage}}"
                      srcset="
                        https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?fit=crop&amp;h=40&amp;w=40&amp;auto=format&amp;dpr=1&amp;q=75 1x,
                        https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?fit=crop&amp;h=40&amp;w=40&amp;auto=format&amp;dpr=2&amp;q=50 2x,
                        https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?fit=crop&amp;h=40&amp;w=40&amp;auto=format&amp;dpr=3&amp;q=35 3x,
                        https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?fit=crop&amp;h=40&amp;w=40&amp;auto=format&amp;dpr=4&amp;q=23 4x,
                        https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?fit=crop&amp;h=40&amp;w=40&amp;auto=format&amp;dpr=5&amp;q=20 5x
                      "
                      decoding="async"
                      height="40"
                      loading="lazy"
                      width="40"
                  /></a>
                  <div class="flow flow-space-size-0">
                    <div
                      class="card__authors flow-space-base"
                      aria-label="authors"
                    >
                      <a href="#/articles/{{value.articleId}}" class="text-dark"
                        ><strong> {{value.title}} </strong> bạn đã bày tỏ cảm xúc về
                        <strong> bài viết </strong>của
                        <strong> {{value.userName}}</strong></a
                      >
                    </div>
                    <time class="text-dark"><i class="bx bx-world"></i>{{value.userName ? "Công khai" : "Riêng tư"}}</time
                    >
                  </div>
                </div>
              </div>
            </td>
            <td>
              
              <div class="cham">
                  <i
                  class="bi bi-three-dots-vertical"
                  style="margin: 0px; width: 12%"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                ></i>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuButton1"
                >
                  
                  <li>
                    <a
                      class="dropdown-item"
                      href="#"
                      ng-click="unfavoriteArticle(key,$index,value.articleId)"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteAlbumModal"
                      >Xóa</a
                    >
                  </li>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>
