<div class="">
  <div class="" ng-repeat="(key, values) in listHistoryArticle">
    <table class="table" style="background-color: #F9F9F9; border-radius: 15px">
      <thead><tr>
        <th scope="row">
          <label> {{key * 24 * 60 * 60  | date:'dd/MM/yyyy'}}</label>
        </th>
      </tr></thead>
      <tbody>
        <tr ng-repeat="ar in values">
          <td>
              <div class="row">
          
                <div class="col-3" align="top">
                  <img
                    src="../../../articles-project/src/main/resources/templates/articles/{{ar.id}}/image.png"
                    alt=""
                  />
                </div>
                <div class="col-8">
                 <div class="row">
                  <a href="#article/{{ar.id}}" class="link-custom" ng-click="saveArticleInLocalStorage(ar.id)">{{ar.title}} </a>
                 </div>
                 <div class="row">
                  <p>{{ar.name  }}   * {{ar.tym}} tym</p>
                 </div>
                 <div class="row">
                  <p>{{ar.descriptive}}</p>
                 </div>
              </div>
            
              </div>
          </td>
          <td>
           <div class="cham">
            <i
            class="bi bi-three-dots-vertical"
            style="width: 12%"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          ></i>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a
                class="dropdown-item"
                ng-click="deleteArticleInLocalStorage(key, $index, ar.id)"
                >Delete Article</a
              >
            </li>
            <li>
              <a href="#article/{{ar.id}}"
                class="dropdown-item"
                ng-click="saveArticleInLocalStorage($index)"
                >Read More</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                data-bs-toggle="modal"
                data-bs-target="#addArticleAlbum"
                ng-click="showModalAddArticleToAlbum(ar.id)"
                >Thêm vào album</a
              >
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Đặt Tên
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">hhhh</div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button type="button" class="btn btn-primary">
                        Save changes
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
           </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    
</div>
<!-- begin add article album -->
<div class="modal fade" id="addArticleAlbum" tabindex="-1" aria-labelledby="addArticleAlbum" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Save to album</h5>
        <button type="button" ng-click="closeFormAddAlbum()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control"  ng-change="searchAlbum()" ng-model="nameAlbum" placeholder="Enter name album..."/>
        <table style=" margin: 10px;">
          <thead>
          </thead>
          <tbody style="display: block; height: 100px; overflow-y: scroll">
          <tr ng-repeat="album in listAlbum track by $index">
            <td><input class="form-check-input" type="checkbox" style="margin-right: 15px;" value="{{album.id}}"
                       id="{{album.id}}" data-ng-click="addArticleToAlbum(album.id)" ng-checked="album.countArticle != 0"/></td>
            <td>{{album.title}}</td>
            <td ng-if="album.status"><i class="bx bx-world"></i></td>
            <td ng-if="album.status == false"><i class="bi bi-incognito"></i></td>
          </tr>

          </tbody>
        </table>
        <div   id="createAlbum" ng-click="showCreateAlbum()">Create album</div>
        <form name="formThemMoi" id="formThemMoi" style="display: none;" novalidate>
          <div class="mb-3">
            <label for="exampleInputTitle" class="form-label">Title:</label>
            <input type="text" class="form-control" name="title" id="exampleInputPassword1" required
                   ng-model="createAlbumRequest.title" minlength="2" />
            <span class="text-danger" ng-show="formThemMoi.title.$error.required && formThemMoi.title.$touched">vui lòng
              nhập title</span>
            <span class="text-danger" ng-show="formThemMoi.title.$error.minlength">
              Vui lòng nhập ít nhất 2 kí tự
            </span>
          </div>
          <div class="mb-3">
            <label for="exampleInputTitle" class="form-label">Status</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="status" value="false" id="flexRadioDefault1"  ng-model="createAlbumRequest.status"/>
              <label class="form-check-label" for="flexRadioDefault1">
                <i class="bi bi-incognito"></i> Private
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="status" value="true" id="flexRadioDefault2" ng-model="createAlbumRequest.status" checked />
              <label class="form-check-label" for="flexRadioDefault2">
                <i class="bi bi-book"></i> Public
              </label>
            </div>
          </div>
          <button type="button" class="btn btn-primary" ng-click="createAlbum($event)">Create</button>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- end add article album -->