<section id="work">
  <div class="container-fluid">
    <div class="bt pb-4">
      <button type="button" class="btn btn-light me-5">All</button>
      <button class="btn btn-light me-5" ng-repeat="ca in listCategory">
        {{ca.name}}
      </button>
    </div>
    <div class="row gy-4">
      <div
        class="col-md-6"
        data-aos="fade-up"
        ng-repeat="myArticle in listMyArticle"
        style="margin-top: 40px"
      >
        <div
          class="card-custom rounded-4 bg-base shadow-effect"
          style="height: 350px"
        >
          <div class="card-custom-image rounded-4">
            <img
              class="rounded-4"
              src="../../../articles-project/src/main/resources/templates/articles/{{myArticle.id}}/image.png"
              alt=""
              style="max-height: 200px; width: 100%; object-fit: cover"
            />
          </div>
          <div class="card-custom-content p-4">
            <h4>{{myArticle.title}}</h4>
            <!-- <p>
              Innovation that exceeds expectations. Astra is a true template
              equiqed with all the elements you could ever need to put together
            </p> -->
            <a href="#my-article/{{myArticle.id}}" class="link-custom"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="pagination pt-3" style="text-align: center">
      <a href="#">«</a>
      <a href="#">1</a>
      <a class="active" href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">»</a>
    </div>
  </div>
</section>
