<section id="work">
  <div class="container-fluid">
    <div class="bt pb-4">
      <button
        type="button"
        class="btn btn-light me-5"
        ng-click="findMyArticleByStatus($event)"
        value="all"
      >
        All
      </button>
      <button
        class="btn btn-light me-5"
        value="{{status.value}}"
        ng-repeat="status in listStatus"
        ng-click="findMyArticleByStatus($event)"
        ng-model="selectedValue"
      >
        {{status.name}}
      </button>
    </div>
    <div class="row gy-4">
      <form>
        <div class="form-input">
          <input type="search" ng-model="title" placeholder="Search..." />
          <a
            type="submit"
            ng-value="value"
            class="search-btn"
            ng-click="findSearch()"
          >
            <i class="bx bx-search"></i>
          </a>
        </div>
      </form>
      <div
        class="col-md-6"
        data-aos="fade-up"
        ng-repeat="myArticle in listMyArticleByStatus"
        style="margin-top: 40px"
      >
        <div
          class="card-custom rounded-4 bg-base shadow-effect"
          style="height: 350px"
        >
          <div class="card-custom-image rounded-4">
            <a href="#my-article/{{myArticle.id}}"
              ><img
                class="rounded-4"
                src="../../../articles-project/src/main/resources/templates/articles/{{myArticle.id}}/image.png"
                alt=""
                style="max-height: 200px; width: 100%; object-fit: cover"
            /></a>
          </div>
          <div class="card-custom-content p-4">
            <h4>{{myArticle.title}}</h4>
            <a href="#my-article/{{myArticle.id}}" class="link-custom"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section ng-show="totalPages != 0">
  <div class="container" style="padding-left: 450px; margin-top: 40px">
    <div class="pagination">
      <ul class="pagination">
        <button
          class="page-link"
          ng-click="prevPage()"
          ng-disabled="pageModel == 1"
        >
          <i class="bi bi-caret-left"></i>
        </button>
        <li>
          <input
            type="number"
            ng-change="inputChangeEvent()"
            ng-model="pageModel"
            min="1"
            max="{{totalPages}}"
            style="width: 25px; font-size: 15px"
          />
          <span> / {{totalPages}}</span>
        </li>
        <button
          class="page-link"
          ng-click="nextPage()"
          ng-disabled="pageModel == totalPages"
        >
          <i class="bi bi-caret-right"></i>
        </button>
      </ul>
    </div>
  </div>
</section>
