<div class="">
  <div ng-if="authen" class="row" style="justify-content: flex-end; margin-bottom: 20px">
    <i class="bi bi-folder-plus" data-bs-toggle="modal" data-bs-target="#FormCreateAlbum"
      style="width: 8%; margin-top: 0px"></i>
  </div>
   
  <!-- <hr style="color: black" /> -->
  <div class="row">
    <table>
      <thead>
        <tr></tr>
      </thead>
      <tbody>
        <tr ng-repeat="album in albums">
          <td>
            <div class="chon">
              <div class="row" style="margin-bottom: 20px">
                <div class="col-9">
                  <div class="row">
                    <div class="col-1" style="margin-left: 30px">
                      <img data-ng-src="{{user.img}}" alt="Profile" class="rounded-circle" style="width: 100%" />
                    </div>
                    <div class="col-7">
                      <div class="row">
                        <p class="fw-light" style="font-size: 14px; margin: 0%; color: #0977e4">
                          {{user.name}}
                          <span class="text-dark" style="padding-left: 20px">
                            {{album.creatAt | date:'MM/dd/yyyy'}}</span>
                        </p>
                      </div>
                      <div class="row">
                        <p class="fs-5 fst-normal">{{album.title}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <div class="row" style="font-size: 15px">
                    Số lượng : {{album.numberOfArticle}}
                  </div>
                </div>
                <div class="col-1">
                  <i class="bi bi-three-dots-vertical" style="margin: 0px; width: 12%" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false"></i>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li ng-if="authen">
                      <a class="dropdown-item" href="#" ng-click="detailAlbum($index, album.id)" data-bs-toggle="modal"
                        data-bs-target="#updateAlbumModal">Sửa</a>
                    </li>
                    <li ng-if="authen">
                      <a class="dropdown-item" href="#" ng-click="detailAlbum($index, album.id)" data-bs-toggle="modal"
                        data-bs-target="#deleteAlbumModal">Xóa</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#/album/{{album.id}}">Xem chi tiết</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- create album -->
  <div class="modal fade" id="FormCreateAlbum" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm mới album</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form name="formThemMoi" ng-submit="createAlbum($event)" novalidate>
            <div class="mb-3">
              <label for="exampleInputTitle" class="form-label">Title:</label>
              <input type="text" class="form-control" name="title" id="exampleInputPassword1" required
                ng-model="createNewAlbum.title" minlength="2" />
              <span class="text-danger" ng-show="formThemMoi.title.$error.required && formThemMoi.title.$touched">vui
                lòng nhập title</span>
              <span class="text-danger" ng-show="formThemMoi.title.$error.minlength">
                Vui lòng nhập ít nhất 2 kí tự
              </span>
            </div>
            <div class="mb-3">
              <label for="exampleInputTitle" class="form-label">Status</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                <label class="form-check-label" for="flexRadioDefault1">
                  <i class="bi bi-incognito"></i> Private
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />
                <label class="form-check-label" for="flexRadioDefault2">
                  <i class="bi bi-book"></i> Public
                </label>
              </div>
            </div>
            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Thêm mới</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- update album -->

  <div class="modal fade" id="updateAlbumModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    ng-submit="updateAlbum($event)" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">update album</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form name="formUpdate">
            <input type="hidden" class="form-control" name="title" id="exampleInputPassword1" required
              ng-model="album.id" />
            <div class="mb-3">
              <label for="exampleInputTitle" class="form-label">Title:</label>
              <input type="text" class="form-control" name="title" id="exampleInputPassword1" required
                ng-model="album.title" minlength="2" />
              <span class="text-danger" ng-show="formUpdate.title.$error.required && formUpdate.title.$touched">vui lòng
                nhập title</span>
              <span class="text-danger" ng-show="formUpdate.title.$error.minlength">
                Vui lòng nhập ít nhất 2 kí tự
              </span>
            </div>
            <div class="mb-3">
              <label for="exampleInputTitle" class="form-label">Status: {{album.status ? "Public" : "Private"}}</label>
              
              <div class="form-check">
                <input class="form-check-input" type="radio" id="flexRadioDefault1" value="false" ng-model="album.status" ng-checked="!album.status"/>
                <label class="form-check-label" for="flexRadioDefault1">
                  <i class="bi bi-incognito"></i> Private
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="flexRadioDefault2" value="true" ng-model="album.status" ng-checked="album.status"/>
                <label class="form-check-label" for="flexRadioDefault2">
                  <i class="bi bi-book"></i> Public
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="updateAlbum($event)">update</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- delete Album -->
  <div class="modal fade" id="deleteAlbumModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xóa Album</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">Bạn có muốn xóa Album {{album.title}}</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" ng-click="deleteAlbum()">
            Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>