<section id="home" class="full-height px-lg-5">
  <div class="container-fluid">
    <div class="row">
      <!-- <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div
            class="carousel-item"
            ng-repeat="articleSlide in listArticleSlide | limitTo:3"
            ng-class="{ 'active': $index === 0 }"
          >
            <article
              data-test="article-preview"
              class="sc-kHOZwM sc-hOGkXu dPKgXc fiTxcb"
            >
              <div data-test="container" class="sc-bdvvtL cCOiXd">
                <div class="sc-bdvvtL jbSNqA sc-kHOZwM cjDrZK">
                  <div class="sc-bdvvtL iHLSCF">
                    <a
                      data-test="heading-image-link"
                      href="/blog/content-planning/"
                      class="sc-cZMNgc iNdGjO"
                    >
                      <img
                        data-test="image"
                        height="250"
                        width="310"
                        style="height: 200px"
                        src="../../../articles-project/src/main/resources/templates/articles/{{articleSlide.id}}/image.png"
                        alt="content planning"
                      />
                    </a>
                  </div>
                  <div class="sc-bdvvtL FmHLX">
                    <h2 data-test="heading-text" class="sc-bBHxTw hsjjsR">
                      <a data-test="heading-link" href="/blog/content-planning/"
                        >{{articleSlide.title}}</a
                      >
                    </h2>
                    <p data-test="preview-text" class="sc-bBHxTw epRzfQ">
                      Learn what a content plan is and how to build one, with
                      examples and tools to make your life easier.
                    </p>
                    <div class="sc-bdvvtL ftOnze">
                      <strong data-test="category" class="sc-dtMgUX iEGeoe"
                        ><a
                          data-test="category-link"
                          target="_blank"
                          href="/blog/category/content-creation/"
                          >{{articleSlide.name}}</a
                        ></strong
                      >
                      <span data-test="date">
                        {{articleSlide.browseDate | date:'dd/MM/yyyy'}}</span
                      >
                      <span data-test="time-to-read">10 min read</span>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->

      <!-- Carousel -->
      <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#demo"
            data-bs-slide-to="0"
            class="active"
          ></button>
          <button
            type="button"
            data-bs-target="#demo"
            data-bs-slide-to="1"
          ></button>
          <button
            type="button"
            data-bs-target="#demo"
            data-bs-slide-to="2"
          ></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../assets/blog-post-1.jpg"
              alt="Los Angeles"
              class="d-block"
              style="width: 100%"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/blog-post-2.jpg"
              alt="Chicago"
              class="d-block"
              style="width: 100%"
            />
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/blog-post-3.jpg"
              alt="New York"
              class="d-block"
              style="width: 100%"
            />
          </div>
        </div>

        <!-- Left and right controls/icons -->
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#demo"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#demo"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>

    <div class="section-title">
      <h2>The Latest Articles</h2>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div
      class="col-md-6 pt-3"
      data-aos="fade-up"
      ng-repeat="articleByBrowseDate in listArticleByBrowseDate | limitTo:4"
    >
      <div class="card">
        <div data-test="post-card-item-en" class="sc-bdvvtL dKPyhr">
          <div class="card-custom-image rounded-4">
            <div data-test="image" class="sc-bdvvtL kScARU sc-jIkXHa ilFkDg">
              <a data-test="image-link" href="#/chitiet"
                ><img
                  class="sc-cidDSM cXGIAa ls-is-cached lazyloaded"
                  src="../../../articles-project/src/main/resources/templates/articles/{{articleByBrowseDate.id}}/image.png"
                  alt=""
                  height="250"
                  width="310"
              /></a>
            </div>
          </div>
          <div class="card-custom-content p-4">
            <div class="sc-bdvvtL ecaHBS">
              <div class="sc-dvQaRk iLqsUe">
                <p
                  data-test="category"
                  class="sc-bBHxTw jlUUmk sc-TBWPX dlGKeq"
                >
                  <a
                    target="_blank"
                    href="#/search/{{hastag}}"
                    ng-repeat="hastag in articleByBrowseDate.hashtags.split(',')"
                    ><i class="bx bxs-purchase-tag"></i>{{hastag}}</a
                  >
                </p>
                <!-- <div class="sc-bdvvtL dhnJpY sc-Galmp gJOLkM">
                  <span data-test="time-to-read" class="sc-bBHxTw gNNJPG"
                    >11 min read</span
                  >
                </div> -->
              </div>
              <div class="sc-bdvvtL hIeyzy">
                <h3
                  data-test="text-content"
                  style="word-break: break-word"
                  class="sc-bBHxTw kFRQee"
                >
                  <a
                    data-test="title"
                    href="#/chitiet"
                    class="sc-ZOtfp dLYbaQ text-dark"
                    >{{articleByBrowseDate.title}}</a
                  >
                </h3>
                <div data-test="meta" class="sc-bdvvtL btGgl sc-bTfYFJ fiKUHl">
                  <a
                    data-test="author-name"
                    target="_blank"
                    href="/user/203456689/"
                    ><span
                      data-test="text-content"
                      class="sc-bBHxTw heMmct sc-hmjpVf hqcxFC"
                      >{{articleByBrowseDate.name}}</span
                    ></a
                  ><span
                    data-test="date"
                    class="sc-bBHxTw lgLCkw sc-hmjpVf hqcxFC"
                    >{{articleByBrowseDate.browseDate |
                    date:'dd/MM/yyyy'}}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="home">
  <div class="container-fluid pt-5">
    <div class="row">
      <div data-test="post-card-item-en" class="sc-bdvvtL dKPyhr">
        <div class="card-custom-image rounded-4">
          <div data-test="image" class="sc-bdvvtL kScARU sc-jIkXHa hLdqAb">
            <a data-test="image-link" href="/blog/top-level-domains/"
              ><img
                class="sc-cidDSM cXGIAa ls-is-cached lazyloaded"
                data-src="https://static.semrush.com/blog/uploads/media/00/9c/009c041ae47f113e29d170fc340375a0/best-content-marketing-tools.svg"
                alt="Content Marketing Tools"
                height="190"
                width="158"
                style="height: 250px"
                src="https://static.semrush.com/blog/uploads/media/00/9c/009c041ae47f113e29d170fc340375a0/best-content-marketing-tools.svg"
            /></a>
          </div>
        </div>
        <div class="card-custom-content p-4">
          <div class="sc-bdvvtL ecaHBS">
            <div class="sc-dvQaRk iLqsUe">
              <p data-test="category" class="sc-bBHxTw jlUUmk sc-TBWPX dlGKeq">
                <a target="_blank" href="/blog/category/seo/what-is-seo/"
                  >SEO Tools
                </a>
              </p>
              <div class="sc-bdvvtL dhnJpY sc-Galmp gJOLkM">
                <span data-test="time-to-read" class="sc-bBHxTw gNNJPG"
                  >17 min read</span
                >
              </div>
            </div>
            <div class="sc-bdvvtL hIeyzy">
              <h3
                data-test="text-content"
                style="word-break: break-word"
                class="sc-bBHxTw kFRQee"
              >
                <a
                  data-test="title"
                  href="/blog/top-level-domains/"
                  class="sc-ZOtfp dLYbaQ text-dark"
                  >16 of the Best Content Marketing Tools for 2023</a
                >
              </h3>
              <span
                data-test="description"
                class="sc-bBHxTw gdTrDl sc-eLwHnm iTsgQK"
                style="font-size: 17px"
                >Streamline your content production and distribution with the
                help of our favorite content marketing tools.</span
              >
              <div data-test="meta" class="sc-bdvvtL btGgl sc-bTfYFJ fiKUHl">
                <a
                  data-test="author-name"
                  target="_blank"
                  href="/user/203642673/"
                  ><span
                    data-test="text-content"
                    class="sc-bBHxTw heMmct sc-hmjpVf hqcxFC"
                    >Semrush Team
                  </span></a
                ><span
                  data-test="date"
                  class="sc-bBHxTw lgLCkw sc-hmjpVf hqcxFC"
                  >Mar 03, 2023</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pagination" style="padding-left: 300px">
        <a href="#">«</a>
        <a href="#">1</a>
        <a class="active" href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">»</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid pt-5">
    <div class="row">
      <div class="col-md-6" data-aos="fade-up">
        <div class="card">
          <article class="card1">
            <a aria-hidden="true" href="/web-platform-02-2023/">
              <img
                alt="Colorful wooden boards."
                sizes="(min-width: 570px) 570px, calc(100vw - 48px)"
                src="https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format"
                srcset="
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=200   200w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=228   228w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=260   260w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=296   296w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=338   338w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=385   385w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=439   439w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=500   500w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=571   571w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=650   650w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=741   741w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=845   845w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=964   964w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=1098 1098w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=1140 1140w
                "
                class="card__hero"
                decoding="async"
                height="330"
                loading="lazy"
                width="570"
              />
            </a>
            <div class="card__content flow">
              <h2 class="card__heading text-size-3">
                <a href="/web-platform-02-2023/" class="text-dark"
                  >New to the web platform in February</a
                >
              </h2>
              <p></p>
              <p class="text-dark">
                Discover some of the interesting features that landed in stable
                and beta web browsers during February 2023.
              </p>
              <p></p>
            </div>
            <div class="gap-top-size-1">
              <div class="card__avatars cluster color-mid-text">
                <a class="avatar" href="/authors/rachelandrew/"
                  ><img
                    class="img"
                    alt="Rachel Andrew"
                    sizes="(min-width: 40px) 40px, calc(100vw - 48px)"
                    src="https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?auto=format&amp;fit=crop&amp;h=40&amp;w=40"
                    srcset="
                      https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?fit=crop&amp;h=40&amp;w=40&amp;auto=format&amp;dpr=1&amp;q=75 1x,
                      https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?fit=crop&amp;h=40&amp;w=40&amp;auto=format&amp;dpr=2&amp;q=50 2x,
                      https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?fit=crop&amp;h=40&amp;w=40&amp;auto=format&amp;dpr=3&amp;q=35 3x,
                      https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?fit=crop&amp;h=40&amp;w=40&amp;auto=format&amp;dpr=4&amp;q=23 4x,
                      https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?fit=crop&amp;h=40&amp;w=40&amp;auto=format&amp;dpr=5&amp;q=20 5x
                    "
                    decoding="async"
                    height="40"
                    loading="lazy"
                    width="40"
                /></a>
                <div class="flow flow-space-size-0">
                  <div
                    class="card__authors flow-space-base"
                    aria-label="authors"
                  >
                    <a href="/authors/rachelandrew/" class="text-dark"
                      >Rachel Andrew</a
                    >
                  </div>
                  <time class="text-dark">Feb 28, 2023</time>
                </div>
              </div>
            </div>
            <div
              aria-label="tags for this post"
              class="card__tags cluster gap-top-base"
            >
              <a class="pill text-dark" href="/tags/new-to-the-web/"
                >New to the web platform</a
              >
            </div>
          </article>
        </div>
      </div>

      <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="card">
          <article class="card1">
            <a aria-hidden="true" href="/web-platform-02-2023/">
              <img
                alt="Colorful wooden boards."
                sizes="(min-width: 570px) 570px, calc(100vw - 48px)"
                src="https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format"
                srcset="
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=200   200w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=228   228w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=260   260w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=296   296w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=338   338w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=385   385w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=439   439w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=500   500w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=571   571w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=650   650w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=741   741w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=845   845w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=964   964w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=1098 1098w,
                  https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/B99XwoFGRglrLQZuEcUL.jpg?auto=format&amp;w=1140 1140w
                "
                class="card__hero"
                decoding="async"
                height="330"
                loading="lazy"
                width="570"
              />
            </a>
            <div class="card__content flow">
              <h2 class="card__heading text-size-3">
                <a href="/web-platform-02-2023/" class="text-dark"
                  >New to the web platform in February</a
                >
              </h2>
              <p></p>
              <p class="text-dark">
                Discover some of the interesting features that landed in stable
                and beta web browsers during February 2023.
              </p>
              <p></p>
            </div>
            <div class="gap-top-size-1">
              <div class="card__avatars cluster color-mid-text">
                <a class="avatar" href="/authors/rachelandrew/"
                  ><img
                    class="img"
                    alt="Rachel Andrew"
                    sizes="(min-width: 40px) 40px, calc(100vw - 48px)"
                    src="https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?auto=format&amp;fit=crop&amp;h=40&amp;w=40"
                    srcset="
                      https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?fit=crop&amp;h=40&amp;w=40&amp;auto=format&amp;dpr=1&amp;q=75 1x,
                      https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?fit=crop&amp;h=40&amp;w=40&amp;auto=format&amp;dpr=2&amp;q=50 2x,
                      https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?fit=crop&amp;h=40&amp;w=40&amp;auto=format&amp;dpr=3&amp;q=35 3x,
                      https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?fit=crop&amp;h=40&amp;w=40&amp;auto=format&amp;dpr=4&amp;q=23 4x,
                      https://web-dev.imgix.net/image/admin/dUAN2DEXHRT6G6iPrIby.jpg?fit=crop&amp;h=40&amp;w=40&amp;auto=format&amp;dpr=5&amp;q=20 5x
                    "
                    decoding="async"
                    height="40"
                    loading="lazy"
                    width="40"
                /></a>
                <div class="flow flow-space-size-0">
                  <div
                    class="card__authors flow-space-base"
                    aria-label="authors"
                  >
                    <a href="/authors/rachelandrew/" class="text-dark"
                      >Rachel Andrew</a
                    >
                  </div>
                  <time class="text-dark">Feb 28, 2023</time>
                </div>
              </div>
            </div>
            <div
              aria-label="tags for this post"
              class="card__tags cluster gap-top-base"
            >
              <a class="pill text-dark" href="/tags/new-to-the-web/"
                >New to the web platform</a
              >
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-4">
  <img src="/front_end/assets/banner.jpg" alt="" style="height: 350px" />
</section>
<section>
  <div class="container-fluid pt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="title-h2">
          <h4 class="text-danger">BẠN CÓ THỂ QUAN TÂM</h4>
        </div>
        <div class="card">
          <div class="progress" style="height: 1px">
            <div
              class="progress-bar bg-danger"
              role="progressbar"
              aria-label="Example 1px high"
              style="width: 25%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <br />
          <div class="row">
            <div class="col-5">
              <img src="/front_end/assets/project-1.jpg" alt="" width="100%" />
            </div>
            <div class="col-7">
              <p class="text-dark">
                New to the web platform in February <br />
                <small class="text-muted">13/05/2022</small>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-5 pt-2">
              <img src="/front_end/assets/blog1.jpg" alt="" width="100%" />
            </div>
            <div class="col-7">
              <p class="text-dark">
                New to the web platform in February

                <br />
                <small class="text-muted">08/01/2022</small>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-5">
              <img
                src="/front_end/assets/blog2.jpg.crdownload"
                alt=""
                width="100%"
              />
            </div>
            <div class="col-7">
              <p class="text-dark">
                New to the web platform in February
                <br />
                <small class="text-muted">13/05/2022</small>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-5 pt-2 pb-2">
              <img src="/front_end/assets/project-4.png" alt="" width="100%" />
            </div>
            <div class="col-7">
              <p class="text-dark">
                New to the web platform in February
                <br />
                <small class="text-muted">13/05/2022</small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="title-h2">
          <h4 class="text-danger">TIN MỚI NHẤT</h4>
        </div>
        <div class="card">
          <div class="progress" style="height: 1px">
            <div
              class="progress-bar bg-danger"
              role="progressbar"
              aria-label="Example 1px high"
              style="width: 25%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <br />
          <div class="row">
            <div class="col-5">
              <img src="/front_end/assets/project-1.jpg" alt="" width="100%" />
            </div>
            <div class="col-7">
              <p class="text-dark">
                New to the web platform in February <br />
                <small class="text-muted">13/05/2022</small>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-5 pt-2">
              <img src="/front_end/assets/blog1.jpg" alt="" width="100%" />
            </div>
            <div class="col-7">
              <p class="text-dark">
                New to the web platform in February

                <br />
                <small class="text-muted">08/01/2022</small>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-5">
              <img
                src="/front_end/assets/blog2.jpg.crdownload"
                alt=""
                width="100%"
              />
            </div>
            <div class="col-7">
              <p class="text-dark">
                New to the web platform in February
                <br />
                <small class="text-muted">13/05/2022</small>
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-5 pt-2 pb-2">
              <img src="/front_end/assets/project-4.png" alt="" width="100%" />
            </div>
            <div class="col-7">
              <p class="text-dark">
                New to the web platform in February
                <br />
                <small class="text-muted">13/05/2022</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
